.cnct-us {
    height: 15rem;
    display: flex;
    text-align: center;
}


.cnt {
    margin-top: 10rem;
}



.disc-icon {
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

.disc-icon:hover {
    transform: scale(1.2);
}

.footer {
    margin-top: 7rem;
    color: var(--primary-text-color);
    font-size: 1.3rem;
    font-weight: 100 !important;
    text-shadow: none;
}

.tenpenny {
    color: #ffd700;
    text-decoration: none;
}