:root {
  --primary-color-bg: #0e0e0e;
  --primary-font-text: 'League Spartan', sans-serif;
  --primary-text-color: #ffffff;
  --secondary-text-color: #ec2127;
  --third-text-color: #eb7411;
  --fourth-text-color: #760003;

}



body {
  background-color: var(--primary-color-bg);
  display: flex;
  flex-direction: column;
}